.carousel1
{
	
	width:1000px; 
	height:700px;
	overflow:scroll;
	}
.carouselLeft 	
{
	-moz-box-shadow:inset 0px 1px 2px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 2px 0px #ffffff;
	box-shadow:inset 0px 1px 2px 0px #ffffff;
	background-color:#ededed;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #c2c2c2;
	display:inline-block;
	color:#706a70;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:-7px 15px 8px #ffffff;
	
	text-align:center;
	display:none;
	
	
}
.carouselLeft:hover {		
	background-color:#dfdfdf;
	cursor:auto;
}
.carouselRight 
{
	-moz-box-shadow:inset 0px 1px 2px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 2px 0px #ffffff;
	box-shadow:inset 0px 1px 2px 0px #ffffff;
	background-color:#ededed;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #c2c2c2;
	display:inline-block;
	color:#706a70;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:-7px 15px 8px #ffffff;
	
	text-align:center;
	display:none;
		
	
}
.carouselRight:hover {	
	background-color:#dfdfdf;
	cursor:auto;
}

.carouselbuttondiv
{
	text-align:center;
	margin-left:90px;
	width:700px;
	
	
	}
	.carouselbuttontitle
{
	
	text-align:center;
	width:700px;
	margin-left:90px;
	
	}

/****************************************/

#carousel-title {
	display:none;	
	color:#f90;
	font-size:17px;
	font-weight:bold;
	margin:20px;
	text-transform:uppercase;
	letter-spacing:1px;
	margin-bottom:10px;
	width:80%;
}
#carousel-alt{
	display:none;	
	color:#ddd;
	margin:20px;
	margin-top:0px;
	font-size:14px;
	font-weight:bold;
	
}

a, a:focus, a:active {

   outline: 0 none;
  	border:none;
	
}

