@charset "UTF-8";

#navi
{
   margin:0px 0px 0px 0px;
   margin-top:150px;
    position:fixed;
    float:left;
    font-family: 'lato';
    font-size:18px;
    font-weight:bold;
}
    #navi ul
    {
     margin-top:45px;
     margin-right:0px;
     min-height:310px;
     background:url(../../Upload/Menu/infosetEnd.png) left top no-repeat; 
    }
#navi ul, #navi li {
	margin: 0;

	padding: 10px;
    padding-left:35px;
    list-style:none;
}

#navi ul li a  {
	color: #ff8f92;
	text-decoration: none;
    display:block; 
    width:210px; 
    text-align:left;
    vertical-align:middle;
   
   
   
}


#navi ul li a:hover ,  #navi ul li.current a { color:#00bbbd; }


   